body{
    background-image: linear-gradient(#ff99cc , white);
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-string{
    height: 50px;
    border-radius: 5px;
    border: 2px solid white;
}
.submit{
    margin-left: 10px;
    height: 50px;
    width: 150px;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    background-color: palevioletred;
}
.result{
    color: white;
    font-size: 25px;
    font-weight: bolder;
}